* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* SPLASH */

.splash-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.splash {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.splash img {
    width: 160px;
    margin-bottom: 20px;
    animation: zoom 2s ease-in-out;
}

.splash h1 {
    font-size: 36px;
    color: #0f4c75;
}

.splash p {
    color: #555;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #2e7d32;
}

.logo img {
    width: 40px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.login-btn {
    padding: 8px 18px;
    border-radius: 20px;
    background: #2e7d32;
    color: white;
}

/* HERO */

.hero {
    height: calc(100vh - 80px);
    background: url("students.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    height: 100%;
    background: rgba(220, 223, 227, 0.79);
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-content {
    max-width: 600px;
    animation: fadeSlide 1.4s ease-out forwards;
}

.hero-content h1 {
    font-size: 55px;
    color: #0f4c75;
}

.hero-content h1 span {
    color: #2e7d32;
}

.hero-content h3 {
    margin: 15px 0;
    color: #2e7d32;
}

.hero-content p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 14px 42px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #2e7d32, #66bb6a);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    transform: scale(1.07);
    box-shadow: 0 10px 25px rgba(46,125,50,0.4);
}


/* ANIMATIONS */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoom {
    from { transform: scale(0.6); }
    to { transform: scale(1); }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-btn {
    padding: 8px 18px;
    border-radius: 20px;
    border: 2px solid #2e7d32;
    color: #2e7d32;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #2e7d32;
    color: white;
    transform: translateY(-2px);
}

/* Login button special */
.nav-btn.login {
    background: #2e7d32;
    color: white;
}

.nav-btn.login:hover {
    background: #1b5e20;
}

/* LOGIN PAGE ONLY */

.login-body {
    height: 100vh;
    background: linear-gradient(135deg, #e8f5e9, #f1f8e9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #333;
}

.login-container h2 span {
    color: #2e7d32;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-container input:focus {
    outline: none;
    border-color: #2e7d32;
}

.login-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: linear-gradient(90deg, #2e7d32, #66bb6a);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #1b5e20;
    transform: scale(1.04);
}

/* ABOUT PAGE */

.about-hero {
    height: calc(100vh - 80px);
    background: url("campus.jpg") center/cover no-repeat;
    position: relative;
}

.about-overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    color: white;
    font-size: 42px;
    margin-bottom: 50px;
    animation: fadeSlide 1s ease;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 30px;
}

.stat-box {
    background: rgba(12, 32, 90, 0.75);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    padding: 35px 20px;
    text-align: center;
    color: white;
    animation: fadeSlide 1.2s ease;
}

.stat-box h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.9;
}

/* ABOUT FEATURES */

.about-features {
    padding: 80px 100px;
    background: #f6f9fc;
    text-align: center;
}

.about-features h2 {
    font-size: 40px;
    color: #0f4c75;
    margin-bottom: 12px;
}

.about-features .subtitle {
    color: #555;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 60px;
    line-height: 1.6;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.feature-card {
    background: white;
    padding: 35px 25px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
    transition: 0.4s;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(46,125,50,0.25);
}

.feature-card img {
    width: 80px;
    margin-bottom: 20px;
}

.feature-card h3 {
    color: #2e7d32;
    font-size: 20px;
    margin-bottom: 12px;
}

.feature-card p {
    color: #444;
    font-